package-lock.json linguist-generated
yarn.lock linguist-generated
*.json linguist-generated

# (Cela les cache des stats pour réduire le poids du TS)
Front/**/*.d.ts linguist-vendored

*.css linguist-detectable=false
*.html linguist-detectable=false

*.py linguist-language=Python
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript

**/node_modules/* linguist-vendored
**/venv/* linguist-vendored
